
/* Sidebar */
    .sidebar {
        background-color: midnightblue;
        color: white;
        min-height: 100%;
        width: 100%;
        background-size: 100%;
        padding: 10px;
        float: left;
    }

    .sidebar i {
        font-size: 24px; 
    }

    .sidebar span {
        padding: 20px;
    }

/* Main content*/
.main-content {
    padding: 0px;
}


/* First top navigation bar (gray) */
.gray-top-bar {
    background-color: darkgray;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

#table-gray-top-bar {
    border: 0;
    color: white;
    min-width: 100%;
    margin-left: 20px;
}


.gray-top-bar i {
    font-size: 24px;
}

#save {
    align-items: flex-start; 
    margin-left: 20px;
}

#print {
    align-items: flex-start;
    margin-left: 20px;
}

#cog {
    align-items: flex-end;
}

#user {
    align-items: flex-end;
}

/* Second top navigation bar  */

.second-top-bar {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .second-top-bar p {
        color: midnightblue;
    }

/* Crumblebread */
.crumblebread {
    padding-left: 5px;
    display: flex;
}

/* Accordion */
.accordion div {
    padding: 5px;
}

.accordion p{
    padding-left: 20px;
    color: midnightblue;
    font-size: 12px;
    margin: 0;
}

.accordion span {
    padding: 5px;
    color: midnightblue;
    font-weight: bold;
}

hr {
    border-color: lightgrey;
    box-sizing: border-box;
    width: 100%;
}

    /* Summary */

        /* Table */

        table {
            border: 1px solid black;
            font-size: 12px;
            color: midnightblue;
            padding: 5px;
            width: 90%;
        }
            #line-1 {
                background-color: darkgray;
            }

            #line-2 {
                background-color: lightgray;
            }

    /* Broker */
    .broker {
        color: midnightblue;
        font-size: 12px;
        margin: 0;
        font-weight: normal !important;
    }

    #table-broker {
        border: 0;
        padding-left: 20px;
        width: 100%;
    }

    #table-broker td {
        padding-left: 20px;
        margin-right: 2px;
    }

    .small-input-text {
        max-width: 35px;
    }

    input, select {
       border-radius: 5px;
    }

    /* Accontant */

    #table-accontant {
        border: 0;
        padding-left: 20px;
        width: 60%;
    }


    #table-accontant td {
        padding-left: 20px;
        margin-right: 2px;
    }

    .button {
        color: white;
        background-color: midnightblue;
    }

    .emply-option{
        min-width: 150px;
    }




