
/* Sidebar */
    .sidebar {
        background-color: midnightblue;
        color: white;
        height: 100%;
        width: 100%;
        background-size: 100%;
        padding: 20px;
    }

    .sidebar i {
        font-size: 24px; 
    }

/* First top navigation bar (gray) */
    .gray-top-bar {
        background-color: darkgray;
        color: white;
        height: 100%;
        width: 100%;
    }

    .gray-top-bar i{
        font-size: 24px; 
    }

/* Second top navigation bar  */
