
/* Sidebar */
    .sidebar {
        background-color: midnightblue;
        color: white;
        height: 100%;
        width: 100%;
        background-size: 100%;
        padding: 20px;
    }

    .sidebar i {
        font-size: 24px; 
    }

    .sidebar span {
        padding: 20px;
    }

/* Main content*/
.main-content {
    padding: 0px;
}


/* First top navigation bar (gray) */
.gray-top-bar {
    background-color: darkgray;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

    .gray-top-bar i{
        font-size: 24px; 
    }

    .fa-save {

    }

/* Second top navigation bar  */

.second-top-bar {
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

    .second-top-bar p {
        color: midnightblue;
    }

/* Crumblebread */
.crumblebread {
    padding-left: 5px;
    display: flex;
}

/* Accordion */
.accordion div {
    padding: 5px;
}

.accordion p{
    padding-left: 20px;
    color: midnightblue;
    font-size: 12px;
    margin: 0;
}

.accordion span {
    padding: 5px;
    color: midnightblue;
    font-weight: bold;
}

hr {
    border-color: lightgrey;
    box-sizing: border-box;
    width: 100%;
}

